body {
}

.main {
  background-color: #fff;
}

.header {
  height: 11vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 4rem;
  }

  &__title {
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 600;
  }

  &__nav {
    display: flex;
    justify-content: space-evenly;

    &__icon {
      list-style-type: none;

      &:hover {
        cursor: pointer;
      }

      &:first-child {
        margin-right: 0.5rem;
      }

      &__img {
        height: 3rem;
      }
    }
  }
}
